@use 'variables'as v;
@use 'global'as g;

section.social{
    padding-top: max(5vw, 8em);

    header{
        font-weight: v.$text-bold;
        font-size: max(1.5vw, 20px);
        text-align: center;
        color: v.$text-color;
    }

    .content{
        display: flex;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        padding-top: 2em;
        justify-content: center;
        
        i{
            color: v.$text-color;
            font-size: max(1.5vw, 50px);
        }

        .text{
            color: v.$text-color;
            font-size: max(1.5vw, 16px);
            padding-left: 1em;
            width: 50%;
        }
    }
}